h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
  border: none;
  padding: 0;
}
address {
  font-style: normal;
}
ul,
ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: currentColor;
}
* {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

.gallery {
  margin: 0 auto;
  max-width: 1158px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 24px;
  justify-content: center;
}
.gallery-item {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.gallery-item:hover,
.gallery-item:focus {
  transform: scale(1.05);
}
.gallery-image {
  height: 200px;
  width: 360px;
  transition: transform 0.3s ease;
}
